# .Gitignore

*~
*.log
/auto/

*.tgz
snapshots
bin
modules
env
nuweb/auto/
nuweb/*.aux
nuweb/*.bbl
nuweb/*.blg
nuweb/*.idx
nuweb/*.ilg
nuweb/*.ind
nuweb/outline.org

nuweb/*.out
nuweb/*.tex
nuweb/*.toc
nuweb/nlpp.w
nuweb/m4_nlpp.w
nuweb/w2html
nuweb/.fuse*
nuweb/nw000*
test.*

